body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.image img{
    width: 400px;
    border-radius: 10px;
}
.story h2{
font-size: 30px;
font-weight: bolder;
}
.story p {
    font-size: 20px;
    width: 50%;
}
.hair img{
    width: 600px;
    border-radius: 10px;
}